In [15]:
#Importing libraries needed for cleaning and visualizations
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('testing_dataset.csv')
df.head()

,alter-egos,relatives,occupation,base,combat,speed,intelligence,power,durability,strength,...,intelligence_power,intelligence_speed,intelligence_strength,power_speed,power_strength,speed_strength,publisher_0,publisher_1,publisher_2,y
0,0.0,1.0,1.0,0.0,64.0,17.0,38.0,24.0,80.0,100.0,...,912.0,646.0,3800.0,408.0,2400.0,1700.0,1,0,0,1
1,0.0,1.0,1.0,0.0,85.0,35.0,88.0,100.0,65.0,28.0,...,8800.0,3080.0,2464.0,3500.0,2800.0,980.0,0,0,1,1
2,0.0,1.0,1.0,1.0,65.0,53.0,50.0,99.0,64.0,90.0,...,4950.0,2650.0,4500.0,5247.0,8910.0,4770.0,0,1,0,1
3,0.0,1.0,1.0,1.0,95.0,53.0,63.0,62.0,90.0,80.0,...,3906.0,3339.0,5040.0,3286.0,4960.0,4240.0,1,0,0,0
4,0.0,1.0,1.0,0.0,55.0,83.0,88.0,100.0,100.0,63.0,...,8800.0,7304.0,5544.0,8300.0,6300.0,5229.0,1,0,0,0

In [6]:
X = df.drop('y', 1)
y = df['y']

In [13]:
X.head()

,alter-egos,relatives,occupation,base,combat,speed,intelligence,power,durability,strength,...,durability_strength,intelligence_power,intelligence_speed,intelligence_strength,power_speed,power_strength,speed_strength,publisher_0,publisher_1,publisher_2
0,0.0,1.0,1.0,0.0,64.0,17.0,38.0,24.0,80.0,100.0,...,8000.0,912.0,646.0,3800.0,408.0,2400.0,1700.0,1,0,0
1,0.0,1.0,1.0,0.0,85.0,35.0,88.0,100.0,65.0,28.0,...,1820.0,8800.0,3080.0,2464.0,3500.0,2800.0,980.0,0,0,1
2,0.0,1.0,1.0,1.0,65.0,53.0,50.0,99.0,64.0,90.0,...,5760.0,4950.0,2650.0,4500.0,5247.0,8910.0,4770.0,0,1,0
3,0.0,1.0,1.0,1.0,95.0,53.0,63.0,62.0,90.0,80.0,...,7200.0,3906.0,3339.0,5040.0,3286.0,4960.0,4240.0,1,0,0
4,0.0,1.0,1.0,0.0,55.0,83.0,88.0,100.0,100.0,63.0,...,6300.0,8800.0,7304.0,5544.0,8300.0,6300.0,5229.0,1,0,0

In [11]:
y.head()

0    1
1    1
2    1
3    0
4    0
Name: y, dtype: int64

In [215]:
# Use train_test_split in sklearn.model selection to split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.9)

In [176]:
import sklearn.feature_selection

select = sklearn.feature_selection.SelectKBest(k=20)
selected_features = select.fit(X_train, y_train)
indices_selected = selected_features.get_support(indices=True)
colnames_selected = [X.columns[i] for i in indices_selected]

X_train_selected = X_train[colnames_selected]
X_test_selected = X_test[colnames_selected]

In [177]:
print(colnames_selected)

['alter-egos', 'relatives', 'base', 'intelligence', 'durability', 'strength', 'overall', 'durability.1', 'intelligence.1', 'strength.1', 'combat_durability', 'combat_strength', 'durability_intelligence', 'durability_power', 'durability_strength', 'intelligence_power', 'intelligence_strength', 'power_strength', 'speed_strength', 'publisher_2']

## Logistic Regression

In [178]:
X_train_selected.head()

,alter-egos,relatives,base,intelligence,durability,strength,overall,durability.1,intelligence.1,strength.1,combat_durability,combat_strength,durability_intelligence,durability_power,durability_strength,intelligence_power,intelligence_strength,power_strength,speed_strength,publisher_2
121,0.0,1.0,0.0,38.0,32.0,10.0,191.0,32.0,38.0,10.0,1792.0,560.0,1216.0,640.0,320.0,760.0,380.0,200.0,350.0,0
633,0.0,1.0,0.0,38.0,28.0,8.0,213.0,28.0,38.0,8.0,1176.0,336.0,1064.0,1400.0,224.0,1900.0,304.0,400.0,376.0,0
730,1.0,0.0,1.0,63.0,60.0,37.0,321.0,60.0,63.0,37.0,3840.0,2368.0,3780.0,3840.0,2220.0,4032.0,2331.0,2368.0,1221.0,1
723,0.0,0.0,1.0,63.0,60.0,94.0,378.0,60.0,63.0,94.0,3840.0,6016.0,3780.0,3840.0,5640.0,4032.0,5922.0,6016.0,3102.0,0
353,0.0,1.0,0.0,63.0,60.0,53.0,337.0,60.0,63.0,53.0,3840.0,3392.0,3780.0,3840.0,3180.0,4032.0,3339.0,3392.0,1749.0,0

In [216]:
logreg = LogisticRegression()
logreg.fit(X_train_selected, y_train)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [217]:
# make class predictions for the testing set
y_pred_class = logreg.predict(X_test_selected)

In [227]:
# calculate accuracy
from sklearn import metrics
log_auc = metrics.accuracy_score(y_test, y_pred_class)
print('Accuracy:', log_auc)

Accuracy: 0.7051282051282052

In [219]:
# examine the class distribution of the testing set (using a Pandas Series method)
y_test.value_counts()

1    56
0    22
Name: y, dtype: int64

In [220]:
# calculate the percentage of 'good'
y_test.mean()

0.717948717948718

In [221]:
# calculate the percentage of 'evil
1 - y_test.mean()

0.28205128205128205

In [228]:
# print the first 25 true and predicted responses
print('True:', y_test.values[0:25])
print('Pred:', y_pred_class[0:25])

True: [1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 0 1 1]
Pred: [1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0]

## Naives Bayes

In [234]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train_selected, y_train)
y_predNB = gnb.predict(X_test_selected)

In [235]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_predNB))

Accuracy: 0.6025641025641025

## Stochastic Gradient Descent

In [262]:
from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier(max_iter=1500)
sgd.fit(X_train_selected, y_train)
y_predSGB = sgd.predict(X_test_selected)

In [263]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_predSGB))

Accuracy: 0.6923076923076923

## KNN